* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 70%;
  height: 90vh;
  padding: 30px;
  border: 10px solid white;
  background-color: #25282a;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}
.slides {
  height: 100%;
  overflow-x: hidden;
}
.slides-container {
  display: flex;
  width: 400%;
  height: 80%;
  overflow: hidden;
  margin-bottom: 20px;
}
.slide {
  width: 25%;
  transition: all 0.5s ease;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signatures-wrapper {
  overflow: hidden;
}
.signatures {
  width: 400%;
  display: flex;
  /* transition: all 0.3s ease; */
}
.signature {
  width: 25%;
}
.signature p {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: start;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.navigation {
  display: flex;
}
.nav-wrapper {
  cursor: pointer;
  padding: 5px;
}
.nav {
  display: inline-block;
  height: 10px;
  width: 30px;
  margin: 10px;
  background-color: #ddd;
  opacity: 0.5;
  transition: all 0.4s ease;
}
.nav:hover {
  cursor: inherit;
  opacity: 1;
  transform: scale(1.1);
}
input[name='radio'] {
  display: none;
  visibility: hidden;
}
#slide1:checked ~ .slides-container > .s1 {
  margin-left: 0;
}
#slide2:checked ~ .slides-container > .s1 {
  margin-left: -25%;
}
#slide3:checked ~ .slides-container > .s1 {
  margin-left: -50%;
}
#slide4:checked ~ .slides-container > .s1 {
  margin-left: -75%;
}

#slide1:checked ~ .flex-wrapper > .signatures-wrapper > .signatures {
  transform: translateX(0);
}
#slide2:checked ~ .flex-wrapper > .signatures-wrapper > .signatures {
  transform: translateX(-25%);
}
#slide3:checked ~ .flex-wrapper > .signatures-wrapper > .signatures {
  transform: translateX(-50%);
}
#slide4:checked ~ .flex-wrapper > .signatures-wrapper > .signatures {
  transform: translateX(-75%);
}

#slide1:checked ~ .flex-wrapper > .navigation label[for='slide1'] {
  opacity: 0.8;
  transform: scale(1.1);
}
#slide2:checked ~ .flex-wrapper > .navigation label[for='slide2'] {
  opacity: 0.8;
  transform: scale(1.1);
}
#slide3:checked ~ .flex-wrapper > .navigation label[for='slide3'] {
  opacity: 0.8;
  transform: scale(1.1);
}
#slide4:checked ~ .flex-wrapper > .navigation label[for='slide4'] {
  opacity: 0.8;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .flex-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .signature p {
    text-align: center;
  }
}
